<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_EISUploadService">
                    <security mode="Transport" />
                </binding>
                <binding name="EISUploadWebService2_Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="EISUploadWebService2_Binding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://eis-dev9d0eb9da65049102devaos.cloudax.dynamics.com/soap/services/EISUploadWebService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_EISUploadService"
                contract="D3FOUploadService.EISUploadService" name="BasicHttpBinding_EISUploadService" />
            <endpoint address="https://api.businesscentral.dynamics.com/v2.0/ef9c55ee-efd9-4f32-8470-7ed3afd212a7/Sandbox/WS/US/Codeunit/EISUploadWebService2?=wsdl&amp;tenant=msft1a6720t94566514&amp;aid=FIN"
                binding="basicHttpBinding" bindingConfiguration="EISUploadWebService2_Binding"
                contract="BCUploadService.EISUploadWebService2_Port" name="EISUploadWebService2_Port" />
        </client>
    </system.serviceModel>
</configuration>